<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    <div class="wx-dialog">
      <div class="wx-content">
        <div class="wx-header">
          <button type="button" class="close"><span>&times;</span></button>
          <h4 class="wx-title">微信扫一扫，关注“观云”公众号</h4>
        </div>
        <div class="wx-body">
          <img src="http://cdn.thexstore.cn/assets/qrcode-3156da441d7b7fe64b4b5716b5cc41445759e5d1d06838c7e732d3f02e9a0cf9.jpg" alt="“观云”微信公众号" />
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
